body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.content {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.content-cal {
  padding-right: 0px;
  padding-left: 0px;
}
.calendar-date {
  position: relative;
  width: 14.28%;
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  text-align: center;
}
.week-day-text {
  padding-top: 25px;
  color: #3c74f7;
  font-size: 18px;
  font-weight: 400;
}
.dates {
  position: relative;
  top: 25px;
  width: 35px;
  height: 35px;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: #8a8a8a;
}
.dates:hover {
  border-radius: 22px;
  background-color: #3c74f7;
  color: white;
}
.dates.current-date {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  float: none;
  border-radius: 30px;
  background-color: transparent;
  color: #3c74f7;
  font-weight: 700;
}
.dates.half-date-shift {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #dedede;
  border-radius: 27px;
}
.dates.half-date-shift:hover {
  background-color: transparent;
  color: #8a8a8a;
}
.dates.full-day-shift {
  border-radius: 23px;
  background-color: #e74c3c;
  color: white;
}
.dates.full-day-shift-avalable {
  border: 3px solid #e74c3c;
  border-radius: 23px;
}
.dates.full-day-shift-avalable:hover {
  background-color: transparent;
  color: #8a8a8a;
}
.form-wrapper {
  position: static;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.key {
  width: 100%;
  height: 100px;
  min-width: 0px;
  padding-top: 35px;
  padding-right: 26px;
  padding-left: 26px;
  float: left;
}
.key.mobile {
  width: 50%;
  padding-top: 27px;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.key-current-date {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 18px;
  padding-top: 12px;
  float: left;
  background-color: transparent;
  color: #8a8a8a;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
.key-current-date.incomplete {
  position: static;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  border: 3px solid #dedede;
  border-radius: 30px;
  font-size: 21px;
  text-align: center;
}
.key-current-date.space-avaolable {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  border: 3px solid #e74c3c;
  border-radius: 30px;
}
.key-current-date.full {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  border: 3px solid #e74c3c;
  border-radius: 30px;
  background-color: #e74c3c;
  color: white;
}
.key-current-date.mobile {
  width: 40px;
  height: 40px;
}
.key-text {
  padding-top: 14px;
  padding-left: 0px;
  font-size: 23px;
}
.key-text.mobile {
  text-align: left;
}
.keys-pullout {
  position: static;
  min-height: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  background-color: transparent;
}
.icon-key {
  color: #3c74f7;
}
.key-pull-menu {
  margin-top: 117px;
  border-right: 1px solid #dedede;
  background-color: white;
}
.menu-button {
  padding-right: 8px;
  font-family:'Fontawesome webfont', sans-serif;
}
.menu-button.w--open {
  background-color: transparent;
}
.icon-burger {
  font-size: 34px;
}
.uni-nav {
  background-color: #3c74f7;
  box-shadow: none;
}
.menu-burger {
  padding-top: 13px;
  padding-right: 3px;
  padding-bottom: 13px;
  color: white;
  font-size: 24px;
}
.menu-burger.w--open {
  background-color: transparent;
}
.next-month-link {
  height: 100%;
  min-height: 50px;
  padding: 17px 0px;
  float: left;
  font-family:'Fontawesome webfont', sans-serif;
  color: #3c74f7;
  font-size: 16px;
  text-decoration: none;
}
.last-month-text {
  height: 100%;
  min-height: 50px;
  padding: 18px 0px;
  float: left;
  font-family:'Fontawesome webfont', sans-serif;
  color: #3c74f7;
  font-size: 16px;
  text-decoration: none;
}
.main-nav-pull-out {
  min-width: 250px;
  margin-top: 117px;
  border-right: 1px solid #dedede;
  background-color: white;
}
.secoundary-nav-container {
  display: block;
  max-width: 71%;
  margin-right: auto;
  margin-left: auto;
}
.main-nav-container {
  max-width: 71%;
}
.logo-text {
  height: 60px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav-link {
  display: block;
  max-width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 16px;
}
.nav-link:hover {
  background-color: #3c74f7;
  color: white;
}
@media (max-width: 991px) {
  .content {
    width: 90%;
  }
  .dates.half-date-shift {
    top: 25px;
  }
  .key {
    padding-right: 0px;
    padding-left: 0px;
  }
  .key.mobile {
    padding-top: 28px;
    padding-left: 25px;
  }
  .key-current-date {
    float: left;
  }
  .key-current-date.incomplete {
    float: left;
  }
  .key-current-date.space-avaolable {
    float: left;
  }
  .key-current-date.full {
    float: left;
  }
  .key-current-date.mobile {
    width: 40px;
    height: 40px;
  }
  .key-text {
    float: left;
    font-size: 19px;
    text-align: center;
  }
  .key-pull-menu {
    max-width: 470px;
  }
  .menu-button {
    padding-right: 18px;
  }
  .icon-burger {
    font-size: 34px;
  }
  .uni-nav {
    box-shadow: none;
  }
  .menu-burger {
    padding-right: 11px;
  }
  .next-month-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .last-month-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .secoundary-nav-container {
    max-width: 100%;
  }
  .main-nav-container {
    max-width: 100%;
  }
  .logo-text {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .content {
    position: relative;
    width: 100%;
  }
  .content-cal {
    padding-right: 10px;
    padding-left: 10px;
  }
  .calendar-date {
    height: 50px;
  }
  .week-day-text {
    padding-top: 18px;
    font-size: 16px;
  }
  .dates {
    top: 0px;
    width: 35px;
    height: 35px;
  }
  .dates.current-date {
    position: relative;
    padding-right: 0px;
  }
  .dates.half-date-shift {
    top: 0px;
  }
  .key.mobile {
    width: 50%;
    padding-top: 17px;
    padding-left: 0px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .key-current-date.mobile {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .key-text.mobile {
    padding-top: 6px;
    float: none;
    font-size: 16px;
    text-align: center;
  }
  .keys-pullout {
    height: 50px;
    background-color: transparent;
  }
  .icon-key {
    float: right;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
  }
  .key-pull-menu {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 109px;
    border-top: 1px solid #dedede;
    background-color: white;
  }
  .menu-button {
    position: relative;
    top: 0px;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 25px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .icon-burger {
    font-size: 28px;
  }
  .uni-nav {
    background-color: #3c74f7;
    color: white;
    font-size: 16px;
  }
  .menu-burger {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .next-month-link {
    height: 100%;
    min-height: 50px;
    padding: 13px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .last-month-text {
    min-height: 50px;
    padding: 15px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .main-nav-pull-out {
    margin-top: 110px;
  }
  .secoundary-nav-container {
    max-width: 100%;
  }
  .logo-text {
    padding-left: 0px;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .content {
    height: 100%;
    min-height: 100%;
  }
  .content-cal {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
  }
  .calendar-date {
    position: relative;
    width: 14.28%;
    height: 50px;
    min-width: 0px;
    padding: 0px;
    float: left;
    background-color: transparent;
    text-align: center;
  }
  .week-day-text {
    padding: 20px 10px;
    color: #3c74f7;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .dates {
    top: 11px;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    padding: 0px;
    color: #969696;
    font-size: 16px;
    text-align: center;
  }
  .dates.current-date {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    border-radius: 18px;
    background-color: transparent;
    color: #3c74f7;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .dates.half-date-shift {
    top: 11px;
    width: 30px;
    height: 30px;
    padding: 0px;
    border: 2px solid #c9c9c9;
    border-radius: 18px;
    background-color: transparent;
    color: #878787;
    font-weight: 400;
    text-align: center;
  }
  .dates.full-day-shift {
    width: 30px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 18px;
    background-color: #e74c3c;
    color: white;
  }
  .dates.full-day-shift-avalable {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #e74c3c;
    border-radius: 20px;
  }
  .key-text.mobile {
    float: none;
    text-align: center;
  }
  .keys-pullout {
    border-bottom: 1px solid #dedede;
  }
  .key-pull-menu {
    max-width: 265px;
    margin-top: 109px;
  }
  .menu-button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .uni-nav {
    box-shadow: none;
  }
  .menu-burger {
    padding-right: 16px;
  }
  .next-month-link {
    height: 50px;
    min-height: 50px;
    padding: 13px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
  .last-month-text {
    height: 100%;
    min-height: 50px;
    padding: 14px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .main-nav-pull-out {
    max-width: 100%;
    min-width: 100%;
  }
  .logo-text {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}