body {
  max-height: 100%;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: block;
  height: 60px;
  max-width: 850px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 15px;
  background-color: #2196f3;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #60a1d6;
}
.content {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.content-cal {
  padding-right: 0px;
  padding-left: 0px;
}
.calendar-date {
  position: relative;
  width: 14.28%;
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  text-align: center;
}
.week-day-text {
  padding-top: 25px;
  color: #858585;
  font-size: 18px;
  font-weight: 400;
}
.dates {
  position: relative;
  top: 25px;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  -webkit-transition-delay: initial;
  transition-delay: initial;
  color: #8a8a8a;
}
.dates:hover {
  border-radius: 22px;
  background-color: #8a8a8a;
  color: white;
}
.dates:active {
  background-color: #3c74f7;
}
.form-wrapper {
  position: static;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.key {
  width: 100%;
  height: 100px;
  min-width: 0px;
  padding-top: 35px;
  padding-right: 26px;
  padding-left: 26px;
  float: left;
}
.key.mobile {
  width: 50%;
  padding-top: 27px;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.key-current-date {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 18px;
  padding-top: 8px;
  float: left;
  border: 3px solid #dedede;
  border-radius: 33px;
  background-color: transparent;
  color: #8a8a8a;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
.key-current-date.full {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  border: 3px solid #e74c3c;
  border-radius: 30px;
  background-color: #e74c3c;
  color: white;
}
.key-current-date.mobile {
  width: 40px;
  height: 40px;
  padding-top: 12px;
  border: 0px none transparent;
  background-color: transparent;
  color: #f06f24;
}
.key-current-date.shifts-available {
  padding-top: 12px;
  border-style: none;
  color: #707070;
}
.key-text {
  padding-top: 14px;
  padding-left: 0px;
  font-size: 23px;
}
.key-text.mobile {
  padding-top: 12px;
  font-size: 22px;
  text-align: left;
}
.keys-pullout {
  position: static;
  height: 55px;
  min-height: 55px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  background-color: transparent;
}
.icon-key {
  color: #3c74f7;
  font-size: 26px;
}
.key-pull-menu {
  margin-top: 125px;
  border-right: 1px solid #dedede;
  background-color: white;
}
.menu-button {
  padding-top: 17px;
  padding-right: 8px;
  padding-bottom: 17px;
  font-family:'Fontawesome webfont', sans-serif;
}
.menu-button.w--open {
  background-color: transparent;
}
.icon-burger {
  font-size: 34px;
}
.uni-nav {
  position: relative;
  display: block;
  min-height: 70px;
  background-color: #3c74f7;
  box-shadow: none;
}
.menu-burger {
  padding-top: 15px;
  padding-right: 3px;
  padding-bottom: 15px;
  color: white;
  font-size: 24px;
}
.menu-burger.w--open {
  background-color: transparent;
}
.next-month-link {
  height: 100%;
  min-height: 50px;
  padding: 17px 0px;
  float: left;
  font-family:'Fontawesome webfont', sans-serif;
  color: #3c74f7;
  font-size: 16px;
  text-decoration: none;
}
.last-month-text {
  height: 100%;
  min-height: 50px;
  padding: 18px 0px;
  float: left;
  font-family:'Fontawesome webfont', sans-serif;
  color: #3c74f7;
  font-size: 16px;
  text-decoration: none;
}
.main-nav-pull-out {
  min-width: 250px;
  background-color: #f7f7f7;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.secoundary-nav-container {
  display: block;
  max-width: 71%;
  margin-right: auto;
  margin-left: auto;
}
.main-nav-container {
  max-width: 71%;
}
.logo-text {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav-link {
  display: block;
  max-width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 16px;
}
.nav-link:hover {
  background-color: #3c74f7;
  color: white;
}
.no-shift {
  position: relative;
  top: 25px;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6px;
  border-radius: 22px;
  background-color: transparent;
  color: #d4d4d4;
}
.no-shift.current-date {
  padding-top: 5px;
  color: #d4d4d4;
}
.current-date {
  position: relative;
  top: 24px;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 2px solid #dedede;
  border-radius: 30px;
  background-color: transparent;
  color: #8a8a8a;
}
.shift-available {
  position: relative;
  top: 24px;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border-radius: 22px;
  background-color: transparent;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
}
.shift-available:hover {
  border-radius: 22px;
  background-color: #ccc;
  color: white;
}
.shift-full {
  position: relative;
  top: 24px;
  display: block;
  width: 35px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border-radius: 22px;
  background-color: transparent;
  color: #f06f24;
  font-size: 14px;
  font-weight: 500;
}
.shift-full:hover {
  background-color: #f06f24;
  color: white;
}
.no-shifts {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 18px;
  padding-top: 12px;
  float: left;
  color: #d4d4d4;
  font-size: 21px;
}
.home-content {
  display: block;
  height: 100%;
  max-width: 71%;
  min-width: 71%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family:'Fontawesome webfont', sans-serif;
  color: white;
  font-size: 57px;
  text-align: center;
}
.home-section {
  display: block;
  width: 100%;
  height: 33.33%;
  min-height: 33.33%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-section.placements {
  position: static;
  height: 33.33%;
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #3c74f7;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Fontawesome webfont', sans-serif;
  text-decoration: none;
}
.home-section.placements:hover {
  background-color: #5386fc;
}
.home-section.bookings {
  display: block;
  height: 33.33%;
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #d9d9d9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Fontawesome webfont', sans-serif;
  font-size: 76px;
  text-decoration: none;
}
.home-section.bookings:hover {
  background-color: #e3e3e3;
}
.home-section.my-shifts {
  display: block;
  width: 100%;
  height: 33.33%;
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #354363;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family:'Fontawesome webfont', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}
.home-section.my-shifts:hover {
  background-color: #445270;
}
.full-page {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  min-width: 0px;
}
.location-text {
  padding-top: 17px;
  padding-bottom: 17px;
  font-family:'Fontawesome webfont', sans-serif;
  color: #8a8a8a;
  font-size: 28px;
  text-align: center;
}
.location-back {
  min-width: 40px;
  padding-top: 17px;
  padding-bottom: 17px;
  float: right;
  background-color: transparent;
  font-family:'Fontawesome webfont', sans-serif;
  color: #8a8a8a;
  font-size: 29px;
  text-align: center;
  text-decoration: none;
}
.location-back:active {
  color: #2196f3;
}
.location-forward {
  height: 100%;
  min-width: 40px;
  padding-top: 17px;
  padding-bottom: 17px;
  float: none;
  background-color: transparent;
  font-family:'Fontawesome webfont', sans-serif;
  color: #8a8a8a;
  font-size: 29px;
  text-align: center;
  text-decoration: none;
}
.location-forward:active {
  color: #2196f3;
}
.location-select {
  height: 55px;
  min-height: 55px;
  margin-bottom: 0px;
  border-bottom: 1px solid #dedede;
  background-color: white;
}
.shifts-content {
  display: block;
  max-width: 850px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}
.text-volunteer {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
}
.date-calandur {
  display: block;
  max-width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #dedede;
  font-family:'Fontawesome webfont', sans-serif;
  color: #8a8a8a;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}
.volunteer-add {
  display: block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  background-color: white;
  color: #2196f3;
  font-size: 26px;
  text-align: left;
  text-decoration: none;
}
.volunteer-add:hover {
  color: #9cbfdb;
}
.volunteer-add:active {
  border: 1px solid white;
  background-color: transparent;
}
.am-pm-shifts {
  margin-bottom: 7px;
  padding-top: 22px;
  float: none;
  color: #8a8a8a;
  font-size: 21px;
}
.volunteer-accepted {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #f7f7f7;
  color: #c7c7c7;
  font-size: 26px;
}
.content-day-view {
  margin-bottom: 62px;
}
.mobile-text-filled {
  height: 55px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #2196f3;
  font-size: 21px;
  text-align: center;
}
.submit-mobile-number {
  position: static;
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top: 39px;
  background-color: #2196f3;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.submit-mobile-number:hover {
  background-color: #60a1d6;
}
.submit-mobile-number.proceed {
  margin-top: 10px;
}
.row {
  position: static;
  border-top: 1px solid #dedede;
}
.content-mobile-number {
  display: block;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22%;
  padding-bottom: 8%;
}
.content-confirm {
  display: block;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}
.confirm-content {
  display: block;
  margin: 55px auto 25px;
  padding: 20px 150px;
  background-color: #f06f24;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 31px;
  text-align: center;
}
.confirm-content.add-content {
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #dedede;
  background-color: transparent;
  color: #b8b8b8;
  font-size: 22px;
  line-height: 27px;
}
.confirm-content.thankyou {
  max-width: 100%;
  padding-right: 93px;
  padding-left: 93px;
  background-color: #6fad94;
  font-family:'Fontawesome webfont', sans-serif;
  line-height: 46px;
}
.location {
  display: block;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
  font-family:'Fontawesome webfont', sans-serif;
  color: #2196f3;
  font-size: 18px;
  text-align: center;
}
.date {
  display: block;
  margin-top: 9px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
  font-family:'Fontawesome webfont', sans-serif;
  color: #2196f3;
  font-size: 18px;
  text-align: center;
}
.time {
  display: block;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
  font-family:'Fontawesome webfont', sans-serif;
  color: #2196f3;
  font-size: 18px;
  text-align: center;
}
.add-mobile-special-text {
  color: #354363;
  font-weight: 300;
  text-decoration: none;
}
.add-pioneer {
  display: block;
  height: 55px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #2196f3;
  font-size: 21px;
  text-align: center;
}
.small-text {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 21px;
  font-weight: 300;
}
.form-wrapper-day-view {
  margin-bottom: 0px;
}
.tick {
  font-size: 51px;
}
.overseer {
  display: block;
  max-width: 850px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
  background-color: #bba1e6;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.overseer.pioneer {
  background-color: #f2f2f2;
  color: #c7c7c7;
}
.confirmed-unconfirmed {
  display: block;
  max-width: 850px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  background-color: #4cb88f;
  font-family:'Fontawesome webfont', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.confirmed-unconfirmed.unconfirmed {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #8a8a8a;
}
.confirmed-unconfirmed.others-needed {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #d46155;
}
.email-text {
  font-family:'Fontawesome webfont', sans-serif;
  color: black;
  text-decoration: none;
}
.content-placments {
  display: block;
  max-width: 850px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.books {
  height: 55px;
  margin-right: 0px;
  float: none;
  border: 1px solid #2196f3;
  font-size: 18px;
  text-align: left;
}
.books.date-selector {
  text-align: left;
}
.magazines {
  height: 55px;
  margin-right: 0px;
  float: none;
  border: 1px solid #2196f3;
  font-size: 18px;
  text-align: left;
}
.brochures {
  display: block;
  height: 55px;
  float: none;
  border: 1px solid #2196f3;
  font-size: 18px;
  text-align: left;
}
.select-shift {
  display: inline-block;
  height: 55px;
  margin-right: 13px;
  border: 1px solid #2196f3;
  color: #8a8a8a;
  font-size: 18px;
  text-align: center;
}
.select-date {
	color: #8a8a8a;
}
.location-shift {
  height: 55px;
  border: 1px solid #2196f3;
  color: #8a8a8a;
  font-size: 18px;
}
.submit {
  width: 100%;
  height: 60px;
  background-color: #2196f3;
  font-size: 18px;
}
.submit:hover {
  background-color: #60a1d6;
}
.comments {
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100px;
  border: 1px solid #2196f3;
  font-size: 18px;
}
.content-sorry {
  display: block;
  max-width: 800px;
  min-height: 100px;
  margin-top: 67px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: white;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}
.sorry-not-found {
  background-color: #d46155;
}
.face {
  display: block;
  max-width: 800px;
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  font-family:'Fontawesome webfont', sans-serif;
  color: white;
  font-size: 89px;
  text-align: center;
}
.confirmed-placements {
  background-color: #6fad94;
}
.confirmed-tick {
  display: block;
  max-width: 800px;
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  font-family:'Fontawesome webfont', sans-serif;
  color: white;
  font-size: 89px;
  text-align: center;
}
.thankyou {
  display: block;
  max-width: 800px;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 51px;
  line-height: 75px;
  font-weight: 400;
  text-align: center;
}
.placements-entered {
  display: block;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}
.map {
  height: 370px;
  margin-top: 8px;
  background-image: url('../images/rovingone.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.map._2 {
  background-image: url('../images/rovingtwo.jpg');
  background-size: auto;
}
html.w-mod-js *[data-ix="tick"] {
  opacity: 0;
}
@media (max-width: 991px) {
  .button {
    max-width: 95%;
  }
  .content {
    width: 90%;
  }
  .key {
    padding-right: 0px;
    padding-left: 0px;
  }
  .key.mobile {
    padding-top: 9px;
    padding-left: 0px;
  }
  .key-current-date {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .key-current-date.full {
    float: left;
  }
  .key-current-date.mobile {
    width: 40px;
    height: 40px;
    float: none;
  }
  .key-text {
    float: left;
    font-size: 19px;
    text-align: center;
  }
  .key-text.mobile {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    float: none;
    text-align: center;
  }
  .key-pull-menu {
    max-width: 470px;
  }
  .menu-button {
    padding-right: 18px;
  }
  .icon-burger {
    font-size: 34px;
  }
  .uni-nav {
    box-shadow: none;
  }
  .menu-burger {
    padding-right: 11px;
  }
  .next-month-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .last-month-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .secoundary-nav-container {
    max-width: 100%;
  }
  .main-nav-container {
    max-width: 100%;
  }
  .logo-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .no-shift {
    top: 25px;
    padding-top: 7px;
    background-color: transparent;
  }
  .shift-available {
    top: 25px;
  }
  .shift-full {
    top: 25px;
  }
  .no-shifts {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6px;
    float: none;
  }
  .home-content {
    max-width: 80%;
    min-height: 100%;
    padding-top: 16%;
    padding-bottom: 16%;
    font-family:'Fontawesome webfont', sans-serif;
    color: white;
    font-size: 76px;
    text-align: center;
  }
  .home-section.bookings {
    text-decoration: none;
  }
  .home-section.my-shifts {
    background-color: #354363;
    text-decoration: none;
  }
  .location-back {
    float: left;
  }
  .location-forward {
    float: right;
  }
  .location-select {
    margin-bottom: 0px;
  }
  
  .shifts-content {
    max-width: 90%;
  }
  .text-volunteer {
    font-size: 20px;
  }
  .date-calandur {
    font-size: 22px;
    text-align: center;
  }
  .volunteer-add {
    padding-top: 20px;
    font-size: 20px;
  }
  .am-pm-shifts {
    padding-top: 15px;
  }
  .volunteer-accepted {
    padding-top: 20px;
    font-size: 20px;
  }
  .submit-mobile-number {
    height: 60px;
  }
  .content-mobile-number {
    padding-bottom: 8%;
  }
  .content-confirm {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }
  .confirm-content {
    margin-top: 0px;
    margin-bottom: 18px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .confirm-content.add-content {
    max-width: 95%;
    margin-top: 18px;
    padding: 18px 20px;
    font-size: 18px;
  }
  .confirm-content.thankyou {
    font-size: 39px;
    line-height: 51px;
  }
  .location {
    max-width: 95%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .date {
    max-width: 95%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .time {
    max-width: 95%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .add-mobile-special-text {
    font-weight: 300;
  }
  .add-pioneer {
    max-width: 95%;
  }
  .form-confirm {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  .small-text {
    font-size: 18px;
  }
  .overseer {
    max-width: 95%;
  }
  .confirmed-unconfirmed {
    max-width: 95%;
  }
  .content-placments {
    max-width: 95%;
    margin-top: 33px;
  }
  .brochures {
    float: none;
  }
  .comments {
    min-height: 80px;
  }
  .face {
    margin-top: 13%;
  }
  .map {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .map._2 {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .button {
    max-width: 90%;
  }
  .content {
    position: relative;
    width: 100%;
  }
  .content-cal {
    padding-right: 10px;
    padding-left: 10px;
  }
  .calendar-date {
    height: 50px;
  }
  .week-day-text {
    padding-top: 18px;
    font-size: 16px;
  }
  .dates {
    top: 0px;
    width: 35px;
    height: 35px;
  }
  .form-wrapper {
    margin-bottom: 15px;
  }
  .key.mobile {
    width: 50%;
    padding-top: 17px;
    padding-left: 0px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .key-current-date {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    float: none;
  }
  .key-current-date.mobile {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .key-current-date.shifts-available {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .key-text.mobile {
    padding-top: 4px;
    float: none;
    font-size: 16px;
    text-align: center;
  }
  .keys-pullout {
    height: 50px;
    background-color: transparent;
  }
  .icon-key {
    float: right;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
  }
  .key-pull-menu {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 124px;
    border-top: 1px solid #dedede;
    background-color: white;
  }
  .menu-button {
    position: relative;
    top: 0px;
    height: 50px;
    min-height: 55px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 25px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .icon-burger {
    font-size: 28px;
  }
  .uni-nav {
    background-color: #3c74f7;
    box-shadow: none;
    color: white;
    font-size: 16px;
  }
  .menu-burger {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .next-month-link {
    height: 100%;
    min-height: 55px;
    padding: 17px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .last-month-text {
    min-height: 50px;
    padding: 15px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .main-nav-pull-out {
    height: 100%;
  }
  .secoundary-nav-container {
    max-width: 100%;
  }
  .logo-text {
    padding-left: 0px;
    font-size: 24px;
  }
  .no-shift {
    top: 0px;
    display: block;
    padding-top: 7px;
  }
  .current-date {
    top: 0px;
  }
  .shift-available {
    top: 0px;
  }
  .shift-full {
    top: 0px;
  }
  .no-shifts {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    float: none;
  }
  .home-content {
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 34px;
  }
  .location-text {
    font-size: 22px;
  }
  .location-back {
    float: left;
  }
  .location-forward {
    float: right;
  }
  .location-select {
    margin-bottom: 0px;
  }
  .shifts-content {
    max-width: 95%;
  }
  .text-volunteer {
    font-size: 17px;
    line-height: 25px;
  }
  .date-calandur {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #8a8a8a;
    font-size: 20px;
    text-decoration: none;
  }
  .am-pm-shifts {
    padding-top: 12px;
    font-size: 15px;
  }
  .content-mobile-number {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .content-confirm {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 0px;
  }
  .confirm-content {
    max-width: 100%;
    margin-top: 0px;
    font-weight: 400;
    text-align: center;
  }
  .confirm-content.add-content {
    max-width: 90%;
    color: #dedede;
    font-size: 16px;
    line-height: 22px;
  }
  .confirm-content.thankyou {
    margin-top: 0px;
    font-size: 28px;
    line-height: 44px;
  }
  .location {
    max-width: 90%;
  }
  .date {
    max-width: 90%;
  }
  .time {
    max-width: 90%;
  }
  .add-mobile-special-text {
    font-weight: 400;
  }
  .add-pioneer {
    max-width: 90%;
  }
  .small-text {
    font-size: 16px;
  }
  .overseer {
    max-width: 90%;
  }
  .confirmed-unconfirmed {
    max-width: 90%;
  }
  .content-placments {
    max-width: 100%;
    margin-top: 28px;
  }
  .books {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .magazines {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .brochures {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .select-shift {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .location-shift {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .submit {
    height: 60px;
  }
  .comments {
    display: block;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .content-sorry {
    margin-top: 46px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 22px;
    line-height: 32px;
  }
  .face {
    margin-top: 43px;
    font-size: 70px;
  }
  .confirmed-tick {
    margin-top: 8%;
  }
  .thankyou {
    margin-top: 34px;
  }
  .map {
    display: block;
    height: 250px;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-position: -3% 50%;
  }
  .map._2 {
    background-position: 53% 50%;
  }
}
@media (max-width: 479px) {
  .button {
    max-width: 100%;
  }
  .content {
    height: 100%;
    min-height: 100%;
  }
  .content-cal {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
  }
  .calendar-date {
    position: relative;
    width: 14.28%;
    height: 50px;
    min-width: 0px;
    padding: 0px;
    float: left;
    background-color: transparent;
    text-align: center;
  }
  .week-day-text {
    padding: 20px 10px;
    color: #858585;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .dates {
    top: 11px;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    padding: 0px;
    color: #969696;
    font-size: 14px;
    text-align: center;
  }
  .form-wrapper {
    margin-bottom: 0px;
  }
  .key-text.mobile {
    padding-top: 0px;
    float: none;
    text-align: center;
  }
  .keys-pullout {
    border-bottom: 1px solid #dedede;
  }
  .icon-key {
    font-size: 26px;
  }
  .key-pull-menu {
    max-width: 265px;
    margin-top: 124px;
  }
  .menu-button {
    min-height: 55px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .uni-nav {
    box-shadow: none;
    font-size: 16px;
  }
  .menu-burger {
    padding-top: 21px;
    padding-right: 16px;
  }
  .next-month-link {
    height: 50px;
    min-height: 55px;
    padding: 18px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
  .last-month-text {
    height: 100%;
    min-height: 50px;
    padding: 14px 10px;
    float: left;
    font-family:'Fontawesome webfont', sans-serif;
    color: #3c74f7;
    font-size: 16px;
    text-decoration: none;
  }
  .main-nav-pull-out {
    max-width: 100%;
    min-width: 100%;
    margin-top: 70px;
  }
  .secoundary-nav-container {
    height: 50px;
    min-height: 55px;
  }
  .logo-text {
    font-size: 18px;
  }
  .no-shift {
    top: 11px;
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
    padding-top: 5px;
    font-size: 14px;
  }
  .current-date {
    top: 11px;
    width: 30px;
    height: 30px;
    padding-right: 1px;
    font-size: 14px;
  }
  .shift-available {
    top: 11px;
    width: 30px;
    height: 30px;
  }
  .shift-full {
    top: 11px;
    width: 30px;
    height: 30px;
  }
  .no-shifts {
    border: 3px solid transparent;
  }
  .home-content {
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 31px;
    text-align: center;
  }
  .location-text {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 17px;
    text-align: center;
  }
  .location-back {
    padding-top: 17px;
    padding-bottom: 17px;
    float: left;
    font-size: 20px;
  }
  .location-forward {
    padding-top: 17px;
    padding-bottom: 17px;
    float: right;
    font-size: 20px;
  }
  .location-select {
    height: 50px;
    margin-bottom: 0px;
    border-bottom: 1px solid #dedede;
  }
  .shifts-content {
    max-width: 100%;
  }
  .text-volunteer {
    font-size: 14px;
  }
  .date-calandur {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    color: #8a8a8a;
    font-size: 18px;
  }
  .volunteer-add {
    padding-top: 25px;
    padding-left: 16px;
    font-size: 17px;
  }
  .am-pm-shifts {
    margin-bottom: 12px;
    padding-top: 24px;
    font-size: 13px;
  }
  .volunteer-accepted {
    padding-top: 20px;
    padding-left: 16px;
  }
  .submit-mobile-number {
    height: 60px;
    margin-top: 0px;
  }
  .submit-mobile-number.proceed {
    margin-top: 10px;
  }
  .content-mobile-number {
    display: block;
    width: 90%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 19%;
  }
  .content-confirm {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    max-width: 100%;
    min-height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .confirm-content {
    max-width: 100%;
    margin-top: 0px;
    font-size: 24px;
    text-align: center;
  }
  .confirm-content.add-content {
    margin-top: 18px;
    padding: 18px 12px;
    background-color: transparent;
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .confirm-content.thankyou {
    font-size: 17px;
    line-height: 26px;
  }
  .location {
    max-width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .date {
    max-width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .time {
    max-width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .add-mobile-special-text {
    font-size: 14px;
    font-weight: 400;
  }
  .add-pioneer {
    max-width: 90%;
    margin-top: 9px;
    font-size: 19px;
  }
  .form-confirm {
    margin-bottom: 0px;
  }
  .small-text {
    margin-top: 5px;
    color: #dedede;
    font-size: 14px;
  }
  .tick {
    font-size: 46px;
  }
  .overseer {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #bba1e6;
    color: white;
    line-height: 22px;
  }
  .overseer.pioneer {
    color: #c7c7c7;
  }
  .confirmed-unconfirmed {
    font-size: 16px;
  }
  .confirmed-unconfirmed.others-needed {
    background-color: #d46155;
  }
  .content-placments {
    max-width: 100%;
    margin-top: 10px;
  }
  .brochures {
    float: none;
  }
  .content-sorry {
    margin-top: 43px;
    font-size: 20px;
    line-height: 24px;
  }
  .face {
    margin-top: 25%;
  }
  .confirmed-tick {
    margin-top: 25%;
  }
  .thankyou {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 37px;
    line-height: 75px;
  }
  .placements-entered {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 25px;
    line-height: 25px;
  }
  .map {
    height: 187px;
    background-position: 40% 50%;
    background-size: 425px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}